
<div class="navbar navbar-expand-sm navbar-light navbar-mashi">

  <a><%= link_to "About Mashi" %></a>
  <a><%= link_to "eShop" %></a>
  <a><%= link_to "Something" %></a>
  <%= image_tag "logo.png", class: "navbar-brand"%>
  <a><%= link_to "Entretien" %></a>
  <a><%= link_to "Contact" %></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <li class <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</div>

