<div class="content-container">
  <div class="banner-pic">
    <div class="text-landing">
      <h1>Ethical craftmanship from across the world</h1>
      <div class="spacing">
      <%= link_to "Discover our Products!", products_path,  class: "get-started-button" %>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="landing-page-text">
    <h2>Our story</h2>
    <br>
    <p>Our moto is simple: quality over quantity. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <br>
  <br>
  <div class="products-landing">
    <div class="row">
       <div class="col-sm-4">
          <%= image_tag "rug.jpg" %>
          <h1>Craft Rugs</h1>
       </div>
      <div class="col-sm-4">
          <%= image_tag "rug2.jpg" %>
          <h1>Pillows</h1>
       </div>
       <div class="col-sm-4">
          <%= image_tag "rug3.jpg" %>
          <h1>Sheets</h1>
       </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="banner-pic2">
    <div class="text-landing2">
      <h1>Craft rugs & textiles - from Morocco to Tibet</h1>
      <div class="spacing2">
      <%= link_to "Discover our Products!", products_path,  class: "get-started-button2" %>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="prefooter">
      <div>
        <h6>100% natural products</h6>
        <p>All our products are using natural fibers</p>
      </div>
      <div>
        <h6>Secured Payment Process</h6>
        <p>Visa - PayPal - Mastercard</p>
      </div>
       <div>
        <h6>Shipment offered with min. 500 euro</h6>
        <p>All over Europe</p>
      </div>
  </div>
  <br>
</div>
